body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("tick.jpg");
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: rgb(224, 202, 224);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: #0e9a17;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.filters {
    margin-top: 10px;
}

.filters button {
    background: #0ca6da;
    margin: 5px;
}

.filters button:hover {
    background: #0056b3;
}

.task {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.completed {
    background-color: rgb(24, 11, 89);
    text-decoration: line-through;
    color: gray;
}

.task-buttons {
    display: flex;
    gap: 5px;
}

.task-buttons button {
    background: rgb(226, 12, 12);
}

.task-buttons .edit-btn {
    background: orange;
}

.task-buttons .status-btn {
    background: green;
}
